.overall-container{
  display: grid;
  place-items: center;
}
.register-container {
  width: 400px;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form {
  /* Add your form styling here */
}

.register-form .form-group {
  margin-bottom: 20px;
}

.register-form label {
  display: block;
  font-weight: bold;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.register-form select {
  height: 40px; /* Adjust as needed */
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #0056b3;
}
