<div class="overall-container">
<div class="register-container">
  <form class="register-form"  (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <div class="d-flex justify-content-center">
        <img src='../../../assets/images/logo.png' alt="login" height="150px">
      </div>
      <label for="id" class="form-label">ID</label>
      <input type="text" formControlName="id" class="form-control" id="id" formControlName="id">
      <div class="form-text text-danger"
        *ngIf="registerForm.controls['id'].touched && registerForm.controls['id'].invalid">
        <p *ngIf="registerForm.controls['id'].errors?.['required']">Please enter valid id</p>
      </div>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username">
      <div
        *ngIf="registerForm.get('username').invalid && (registerForm.get('username').dirty || registerForm.get('username').touched)"
        class="text-danger">
        <div *ngIf="registerForm.get('username').errors.required">Username is required.</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div
        *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)"
        class="text-danger">
        <div *ngIf="registerForm.get('password').errors.required">Password is required.</div>
        <div *ngIf="registerForm.get('password').errors.minlength">Password must be at least 8 characters long.</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="paymentMethod" class="form-label">Payment Method</label>
      <select class="form-select" id="paymentMethod" formControlName="paymentMethod">
        <option value="">Select Payment Method</option>
        <option value="credit">Credit Card</option>
        <option value="debit">Debit Card</option>
        <option value="paypal">PayPal</option>
      </select>
      <div
        *ngIf="registerForm.get('paymentMethod').invalid && (registerForm.get('paymentMethod').dirty || registerForm.get('paymentMethod').touched)"
        class="text-danger">
        <div *ngIf="registerForm.get('paymentMethod').errors.required">Payment Method is required.</div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">SignUp</button>
    </div>
  </form>
</div>
</div>